= nested_form_for @dhokebaaz do |f|
  .row.bottom-line
    .form-group
      %label.col-sm-2.control-label Narrate your story
      .col-sm-10
        = f.text_area :story, class: 'form-control ckeditor', placeholder: 'Tell us how it happened'
  .row.bottom-line
    .form-group
      %label.col-sm-2.control-label Proofs
      .col-sm-10
        %span.help-block.m-b-none Optional, add proofs like images, documents any anything like that so people trust this
        = f.fields_for :proofs do |proof_form|
          .col-sm-12
            = proof_form.text_area :detail, class: 'form-control', placeholder: "Add detail about this file"
            %br/
            = proof_form.file_field :content
            %br/
            = proof_form.link_to_remove "Remove this file", class: 'pull-right'
           
        = f.link_to_add "Add a proof", :proofs, class: 'btn btn-success' 
  .row.bottom-line
    .form-group
      %label.col-sm-2.control-label When the incident happened
      .col-sm-10
        = f.text_field :incident_time, class: 'form-control', placeholder: 'When it happened'
  .row.bottom-line
    .form-group
      %label.col-sm-2.control-label Dhokebaaz's name
      .col-sm-5
        = f.text_field :dhokebaaz_name, class: 'form-control', placeholder: 'What is his first name'
      .col-sm-5
        = f.text_field :last_name, class: 'form-control', placeholder: 'What is his last name'
  .row.top-gap
    .form-group
      %label.col-sm-2.control-label Address
      .col-sm-10
        = f.text_field :address, class: 'form-control', placeholder: 'From where he is'
        %span.help-block.m-b-none Optional, but address can be very important for others to recognize him
  .row.bottom-line
    .form-group
      %label.col-sm-2.control-label
      .col-sm-5
        = f.text_field :city, class: 'form-control', placeholder: 'City where he lives'
      .col-sm-5
        = f.text_field :zipcode, class: 'form-control', placeholder: 'Locality zipcode'
  .row.bottom-line
    .form-group
      %label.col-sm-2.control-label Any other detail to recognise him
      .col-sm-10
        = f.text_area :other_details, class: 'form-control', placeholder: 'Any thing which can help others to recognize him'
        %span.help-block.m-b-none Optional, Help others to recognise him with any other mean
  .row.bottom-line   
    .form-group
      %label.col-sm-2.control-label His facebook profile URL
      .col-sm-10
        = f.text_field :fb_profile_url, class: 'form-control', placeholder: 'Connect his facebook profile here'
        %span.help-block.m-b-none Optional, Adding his facebook URL shall make him directly visible to others most accurately.
  .row.bottom-line
    .form-group
      %label.col-sm-2.control-label His photo
      .col-sm-10
        = f.file_field :profile_image, class: 'form-control', placeholder: 'From where he is'
        %span.help-block.m-b-none Optional, You can add his photo here to help other to recognise him
  .row.bottom-line    
    .form-group
      %label.col-lg-2.control-label Tag with type of cheating
      .col-lg-10
        %p.form-control-static email@example.com
        %span.help-block.m-b-none Add his cheating type here. It shall help others to filter out
  .row.bottom-line  
    %h5 Post it as anonymous
    = f.check_box :post_as_anonymous
    %br/
    %br/
    Or you can share your details to get updates about viewers, comments and other people who got cheated or have been helped by you.
    
  .row.bottom-line
    .form-group
      %label.col-sm-2.control-label Name
      .col-lg-10
        = f.text_field :name, class: 'form-control', placeholder: 'Your name'
        %span.help-block.m-b-none
          Visible to public
          = f.check_box :name_visible_to_public
  .row.bottom-line
    .form-group
      %label.col-sm-2.control-label Email
      .col-sm-10
        = f.text_field :email, class: 'form-control', placeholder: 'Your email'
        %span.help-block.m-b-none Your email shall not be visible
        %span.help-block.m-b-none By putting your email you can get updates directly in your mailbox.
        %span.help-block.m-b-none You can also modify this entry later if you add your email here.
  .row.bottom-line
    .form-group
      %label.col-sm-2.control-label
      .col-sm-10
        = f.check_box :recive_update_on_comments
        Recieve updates on comments
  .row.bottom-line
    .form-group
      %label.col-sm-2.control-label
      .col-sm-10
        = f.check_box :recive_messages
        Recieve messages from visitors (Your email shall not be visible)
  .row
    .form-group
      .col-sm-4.col-sm-offset-2
        = f.submit "Save", class: 'btn btn-primary'
