%h1 Listing people
%table
  %thead
    %tr
      %th Story
      %th Incident time
      %th Dhokebaaz name
      %th Address
      %th Other details
      %th Fb profile url
      %th Post as anonymous
      %th Name
      %th Email
      %th Name visible to public
      %th Recive update on comments
      %th Recive messages
      %th{:colspan => "3"}
  %tbody
    - @people.each do |person|
      %tr
        %td= person.story
        %td= person.incident_time
        %td= person.dhokebaaz_name
        %td= person.address
        %td= person.other_details
        %td= person.fb_profile_url
        %td= person.post_as_anonymous
        %td= person.name
        %td= person.email
        %td= person.name_visible_to_public
        %td= person.recive_update_on_comments
        %td= person.recive_messages
        %td= link_to 'Show', person
        %td= link_to 'Edit', edit_person_path(person)
        %td= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Person', new_person_path
