.wrapper.wrapper-content
  .row.border-bottom.white-bg.page-heading
    %h2 Serch Dhokebaazs here
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          - if params[:first_name] || params[:last_name] || params[:city]
            %h2
              #{@dhokebaazs.count} results found for:
              %span.text-navy "#{params[:first_name]} #{params[:last_name]} from #{params[:city]}"
          %small Request time  (0.23 seconds)
          .search-form
            = form_tag search_dhokebaazs_path, method: :get do |f|
              .input-group
                .col-md-3
                  %input.form-control.input-lg{:name => "first_name", :placeholder => "First name", :type => "text", value: params[:first_name]}/
                .col-md-3
                  %input.form-control.input-lg{:name => "last_name", :placeholder => "Last name", :type => "text", value: params[:last_name] }/ 
                .col-md-3
                  %input.form-control.input-lg{:name => "city", :placeholder => "City or Zipcode", :type => "text", value: params[:city]}/
                .col-md-3
                  .input-group-btn
                    %button.btn.btn-lg.btn-primary{:type => "submit"}
                      Search
          .hr-line-dashed
          .row
            .col-md-12.no-padding
              .ibox.float-e-margins
                .ibox-content
                  - @dhokebaazs.each do |dhokebaaz|
                    = render "dhokebaaz", dhokebaaz: dhokebaaz
                  = "Nobody result found." if @dhokebaazs.length == 0
          .text-center
            .btn-group
              - if !params[:page].nil? && 1 > params[:page].to_i
                %button.btn.btn-white{:type => "button"}
                  %i.fa.fa-chevron-left
              - @dhokebaazs.total_pages.times do |num|
                = link_to (num + 1), request.url , class: 'btn btn-white'
              - if !params[:page].nil? && @dhokebaazs.total_pages < params[:page].to_i
                %button.btn.btn-white{:type => "button"}
                  %i.fa.fa-chevron-right
