.wrapper.wrapper-content
  .row.border-bottom.white-bg.page-heading
    %h2 Profile of #{@dhokebaaz.dhokebaaz_name}
  .row.animated.fadeInRight
    .col-md-4
      .ibox.float-e-margins
        .ibox-title
          %h5 Image
        %div
          .ibox-content.no-padding.border-left-right
            = image_tag(@dhokebaaz.profile_image.url, alt: 'image', class: 'img-reponsive', style: 'width: 350px; height: 350px;')
          .ibox-content.profile-content
            %h4
              %strong= @dhokebaaz.dhokebaaz_name
              .pull-right
                = link_to "View FB Profile", @dhokebaaz.fb_profile_url, target: '_blank', class: 'btn btn-success' unless @dhokebaaz.fb_profile_url.to_s.blank?
            %p
              %i.fa.fa-map-marker
              = @dhokebaaz.address
            %p= @dhokebaaz.other_details
            .row
              %h5 Tags:
              %ul.tag-list{:style => "padding: 0"}
                - @dhokebaaz.tags.split(",").each do |tag| 
                  %li
                    %a{:href => ""}
                      %i.fa.fa-tag
                      = tag
            .row
              %h5
                Proofs
              %p= "No proofs attached" if @dhokebaaz.proofs.length == 0
              %ul
                - @dhokebaaz.proofs.each do |prof|
                  %li= link_to prof.detail, prof.content.url, target: '_blank'
            /%h5
            /  Contact victim
            /  %h5
            /    .user-button
            /      .row
            /        .col-md-6
            /          %button.btn.btn-primary.btn-sm.btn-block{:type => "button"}
            /            %i.fa.fa-envelope
            /            Send Message
    .col-md-8
      .ibox.float-e-margins
        .ibox-title
          .pull-right= google_plus_button 
          .pull-right= twitter_button 
          .pull-right= facebook_button 
          %h5 Details of #{@dhokebaaz.dhokebaaz_name}
        .ibox-content
          %div
            .feed-activity-list
              .feed-element
                %a.pull-left{:href => "#"}
                  = image_tag(@dhokebaaz.poster_image_url, class: 'img-circle', alt: 'image')                  
                .media-body
                  %small.pull-right.text-navy= "#{time_ago_in_words(@dhokebaaz.created_at)} ago"
                  %strong= @dhokebaaz.poster_name
                  claimed following
                  %br/
                  %small.text-muted= @dhokebaaz.created_at.strftime("%d/%m/%Y  %M:%S")
                  %br/
                  %p= @dhokebaaz.story.html_safe
                  /.actions
                  /  %a.btn.btn-xs.btn-white
                  /    %i.fa.fa-thumbs-up
                  /    Like
                  /  %a.btn.btn-xs.btn-danger
                  /    %i.fa.fa-heart
                  /    Love
                  /.actions.pull-right
                  /  Found it derogatory to you?
                  /  %a.btn.btn-danger
                  /    %i.fa.fa-user-times
                  /    Object
          .row
            .col-lg-5
              %dl.dl-horizontal
                %dt Added by:
                %dd= @dhokebaaz.poster_name
                %dt Comments:
                %dd= @dhokebaaz.comments.count
                %dt FB Shares:
                %dd 0
            #cluster_info.col-lg-7
              %dl.dl-horizontal
                %dt Added on:
                %dd= @dhokebaaz.created_at.strftime("%d/%m/%Y %H:%S")
                /%dt Participants:
                /%dd.project-people
                /  %a{:href => "#"}
                /    %img.img-circle{:alt => "image", :src => "/assets/a3.jpg"}/
                /  %a{:href => "#"}
                /    %img.img-circle{:alt => "image", :src => "/assets/a1.jpg"}/
                /  %a{:href => "#"}
                /    %img.img-circle{:alt => "image", :src => "/assets/a2.jpg"}/
                /  %a{:href => "#"}
                /    %img.img-circle{:alt => "image", :src => "/assets/a4.jpg"}/
                /  %a{:href => "#"}
                /    %img.img-circle{:alt => "image", :src => "/assets/a5.jpg"}/
    .col-md-8
      .ibox.float-e-margins
        .ibox-title
          %h5 Comments
        .ibox-content
          %div
            .feed-activity-list
              .feed-element
                - if current_user
                  %a.pull-left{:href => "#"}
                    = image_tag(current_user.profile_image.url, class: 'img-circle', alt: 'image')                  
                .media-body
                  %h3 Comment:
                  = form_for @comment do |f|
                    = f.hidden_field :dhokebaaz_id, value: @dhokebaaz.id
                    = f.text_area :message, class: 'form-control', placeholder: 'Express your views'
                    %br/
                    - if current_user
                      Post as anonymas
                      = f.check_box :post_as_anonymas
                    - else  
                      %br/
                      Comment shall be posted as anonymas if you are not logged in. After logging in to your account you can post with your account or choose to post as anonymas.
                    %br/
                    = recaptcha_tags ajax: true
                    %br/
                    = f.submit "Post", class: 'btn btn-success'
              - @dhokebaaz.comments.each do |comment|
                - if comment.id
                  .feed-element
                    %a.pull-left{:href => "#"}
                      = image_tag(comment.poster_image_url, class: 'img-circle', alt: 'image')                  
                    .media-body
                      %small.pull-right.text-navy #{time_ago_in_words(comment.created_at)} ago
                      %strong= comment.poster_name
                      said
                      %br/
                      %small.text-muted= comment.created_at.strftime("%d/%m/%Y %H:%S")
                      %br/
                      %p= comment.message.html_safe
                      /.actions
                      /  %a.btn.btn-xs.btn-white
                      /    %i.fa.fa-thumbs-up
                      /    Like
                      /  %a.btn.btn-xs.btn-danger
                      /    %i.fa.fa-heart
                      /    Love
                      /  %a.btn.btn-xs.btn-primary
                      /    %i.fa.fa-pencil
                      /    Message
            /%button.btn.btn-primary.btn-block.m
            /  %i.fa.fa-arrow-down
            /  Show More
